:root {
    --color-1: #1061AB;
    --color-2-link:#2B7BC6;
    --color-3: #004C93;


}


body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #F3F9FF;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;

    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a{

    text-decoration: none;
    list-style-type: none;
    color: var(--color-2-link);
}

li{
    list-style-type: none;

}

ul{
    padding-inline-start: 0;
    padding: 0;
    margin: 0;

    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.header {
    background-color:#E1EEFB;
    
}
.container {
    max-width: 1540px;
    margin: 0 auto;
}
.header__line1 {
    display: flex;
    padding-top: 47px;
    margin-bottom: 26px;
    justify-content: space-between;
    align-items: center;
}
.logo {
}
.logo__img {
}
.header__position {
    margin-right: 141px;
}

.header__point__img {
margin-right: 8px;
margin-left: 150px;
}


.header__tel {
    font-size: 21px;
    line-height: 26px;
    color: #000;

}

.header__select {
}

.header__feedback {
}

.header__feedback__link {
}
.header__menu {
      margin-left: 132px;

}
.header__menu__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu__item + .header__menu__item {
    margin-left: 20px;

}
.header__menu__link {
   
}
    


.header__line2 {
    display: flex;
    
    align-items: center;
    padding-bottom: 204px;
    font-size: 16px;
}
.burger__katalog {
    display: flex;
    align-items: center;
    background-color: var(--color-3);
    flex:0 0 300px;

    
}

.burger{
    padding-left: 24px;
}

.burger__text{
    display: block;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 0;
    margin: 0 auto;
    letter-spacing: 0.15em;
    
}


.header__promo {
    text-transform: uppercase;
    padding: 20px 24px;
    background-color: var(--color-1);
    color: #fff;
    letter-spacing: 0.15em;
}
.header__brands {
    text-transform: uppercase;
    padding: 20px 24px;
    background-color: var(--color-2-link);
    color: #fff;
    letter-spacing: 0.15em;
}





.header__search {
width: 750px;
position: relative;

}
.header__search-input{
    width: 100%;

  height: 58px;
  border:none;
  outline: none;
  background: #fff;
  color: #9E9C9C;
}

.header__search-input::placeholder{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 24px;
   
    
}

.search__btn{
  position: absolute; 
  top: 0;
  right: 0px;
  width: 58px;
  height: 58px;
  border: none;
  background: #fff;
  cursor: pointer;
}
.search__btn:before {
  content: "";
  
}





.header__icons {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #F1F8FF;
    max-height: 58px;
}

.header__icon + .header__icon{
    margin-left: 30px;
}

.header__icon{
    padding:15px 0;
}


.header__man {
 padding-left: 40px;
}

.header__heart {
}

.header__cart {
padding-right: 40px ;
}
.cart {
}

.section__one,
.section__two {
    margin-bottom: 57px;
}

.promotion{
    display: grid;
    grid-template-columns: 1040px 500px;
    grid-template-rows: 190px 190px;
    margin-top: -190px;
    margin-bottom: 50px;
    color: #fff;
    z-index: 1;
}


.slick-slide {
    
    height: 380px;
   
}




.promotion__slider {
    background-color: #004C93;
    grid-row-start: 1;
    grid-row-end: 3;
}




.promotion__slider__title{
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    padding-left: 646px;
    padding-top: 76px;
    margin-bottom: 13px;
    letter-spacing: 0.15em;
}   

.promotion__slider__text{
    text-transform: uppercase;
    padding-left: 646px;
    margin-bottom: 30px;
    
}

.promotion__slider__link{
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding: 14px 24px;
    background-color: #FFD600;
    margin-left: 646px;
    color: #000;
    border-radius: 5px;
} 



.promotion__lowprice {
    background-color: #1061AB;
}

.promotion__lowprice__text,
.promotion__sale__text {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.15em;
    padding-top: 50px;
    padding-left: 260px;
    margin-bottom: 13px;
}

.promotion__lowprice__link,
.promotion__sale__link {
    color: #fff;
    text-transform: uppercase;
    padding-left: 260px;
}

.promotion__sale{
    background-color:#3BB9B8;

}








.advantages {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

.advantages__item {
    display: flex;
    align-items: center;

}

.advantages__item__img{
    
}

.advantages__item__text {
    display: block;
    max-width: 200px;
    margin-left: 22px;
}

.section_hits{}

.section__two__title,
.section__hits__title,
.section__actions__title{
    max-width: max-content;
}
.section__two__title-text,
.section__hits__title-text,
.section__actions__title-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--color-1);
    max-width: max-content;
    padding-bottom: 5px;
}






.tile_collection_items {
    display: grid;
    grid-template-columns:repeat(5, 240px) ;
    grid-template-rows: repeat(2, 240px);
    column-gap: 20px ;
    row-gap:20px ;

}
.tile_collection__item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    
}


.collection-name {
    position: absolute;
    bottom: 40px;
    left: 0;
    padding: 12px 20px;
    background-color: #3BB9B8CC ;
    opacity: 0.8;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

}
.collection-name.nametop{
    font-size: 24px;
    line-height: 30px;
}

.manufacturer-name {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}


.tile_collection__item2 {
    grid-column-start: 4;
    grid-column-end: 6;

    
}
.tile_collection__item3 {
    grid-column-start: 6;
    grid-column-end: 7;
    
}
.tile_collection__item4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.tile_collection__item5 {
    grid-column-start: 5;
    grid-column-end: 7;

}

.tile_collection__item1, 
.tile_collection__item2,
.tile_collection__item3, 
.tile_collection__item4,
.tile_collection__item5 {
    position: relative;
}


.section_hits,
.section_actions {
    padding-bottom: 40px;

}

.slider__product{
    display: grid;
    grid-template-columns: repeat(5, auto);
   grid-template-rows: auto;
   gap: 2px;
    
}

.menu__product{
    max-width: max-content;
    margin-bottom: 30px;
}

.menu__product__items{
    display: flex;
    justify-content: space-between;
    flex-direction: row;


}

.menu__product__item {
    padding: 6px 16px;
    background-color: #fff;
    color: #2B7BC6;
    border-radius: 4px;
    transition: all .2s ease;
}

.menu__product__item +.menu__product__item {
    margin-left: 10px;
}

.menu__product__item:hover{
    background-color: #3BB9B8;
    color: #fff;
}

.product__card {
    position: relative;
    background-color: #fff;
    max-height: 540px;
    
}

.product__card__img {
    margin: 0 auto;
    max-width: 288px;
    margin-bottom: 21px;
}

.hit{
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 12px;
    letter-spacing: 0.15em;
    background-color: #FFD600;
    padding: 3px 10px;
}

.action{
    position: absolute;
    top: 20px;
    left: 70px;
    background-color: #EA1649;
    padding: 3px 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.15em;
    display: none;
}

.product__stars{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 13px;
}

.product__star {
    margin-left: 5px;
   
}

.characteristics,
.country {
    padding: 0 20px;
}

.country {
    margin-top: 35px;
    margin-bottom: 13px;
}
.price__cart{
    display: flex;
    justify-content: space-between;
    
    padding: 0px 20px 50px 20px;
}

.cost{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    
    
}

.button__cart{
    border: 1px solid #2B7BC6;
    border-radius: 4px;
    padding: 6px 12px;
    background-color: #fff;
    color: #2B7BC6;
    text-align: center;
}

.button__cart:hover{
    cursor: pointer;
}

.section_actions {
padding-top: 57px;
background-color: #E1EEFB;
}